In [1]:
from astropy.table import QTable
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd
import ipywidgets as wd
from fractions import Fraction
nasa = QTable.read("NASA_data.csv", format = 'csv')
esa = QTable.read("ESA_data.csv", format = 'csv')

In [2]:
nasa.info()
esa.info()

<QTable length=33>
              name               dtype     class     n_bad
------------------------------- ------- ------------ -----
             Object Designation   str24       Column     0
                     Year Range    str9       Column     0
              Potential Impacts   int64       Column     0
Impact Probability (cumulative) float64       Column     0
               Vinfinity (km/s) float64       Column     0
                        H (mag) float64       Column     0
        Estimated Diameter (km) float64       Column     0
           Palermo Scale (cum.) float64       Column     0
           Palermo Scale (max.) float64       Column     0
            Torino Scale (max.)   int64 MaskedColumn     2
                          col10    str8       Column     0
<QTable length=1906>
       name         dtype
------------------ -------
               No.   int64
Object designation   str15
     Diameter in m   str11
Impact date in UTC   str10
            IP max    str9
            PS max float64
                TS    str3
             Years    str9
            IP cum    str9
            PS cum float64
      Vel. in km/s float64
In list since in d   int64

In [3]:
def getting_NASA_data(filename):
    NASA_data = pd.read_csv("NASA_data.csv", skiprows = 1)
    NASA_IP = NASA_data.iloc[:,3:0].values
    return NASA_IP

sentry = getting_NASA_data("NASA_data.csv")

In [4]:
def getting_ESA_data(filename):
    ESA_data = pd.read_csv("ESA_data.csv", skiprows = 1)
    ESA_IP = ESA_data.iloc[:,7:0].values
    return ESA_IP

neo = getting_ESA_data("ESA_data.csv")

In [4]:
differences = asteroid_common_list['IP cum difference']

range(amount) == len(differences)

plt.figure(figsize=(10, 6))
plt.scatter(range(amount), differences, alpha=0.5, s=10, label='Difference Between NASA and ESA')

plt.axhline(np.mean(differences), color='blue', linestyle='-', linewidth=2, label='Average')

plt.axhline(np.mean(differences) + np.std(differences), color='orange', linestyle='--')
plt.axhline(np.mean(differences) - np.std(differences), color='orange', linestyle='--')

plt.xlabel('Data(?)')
plt.ylabel('Amount')

plt.title('Standard Deviations of Differences')

plt.legend()

plt.grid(True, which="both", ls="-", alpha=0.2)

plt.show()

NameError: name 'asteroid_common_list' is not defined